Boletin2/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="nota">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="para" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                <xsd:element name="de" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                <xsd:element name="titulo" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
                <xsd:element name="contenido" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>








